@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body,
html {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}


.listableHeader,
.listableRooms,
.listableArea,
.listableSave {
  // position: relative; To powinno być włączone

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 2px;
    width: calc(100% - 4px);
    border-bottom: 2px solid #d1d5db;
  }
}